@model Capstone.Models.ApplicationUser
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mt-4 text-center">
    <h2>Administrator Dashboard</h2>
    <hr class="my-4" />
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("GetPendingAccounts")">
            <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                @*<div class="card-header">Header</div>*@
                <div class="card-body text-center">
                    <h4 class="card-title">Pending Accounts</h4>
                    <p class="card-text">View & activate Organization Accounts.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>

