@model IEnumerable<Capstone.Models.NonprofitOrganization>
@{
    ViewBag.Title = "PendingAccounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accounts Pending Authorization</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </th>
        <th>
            Account Status
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationName)
            </td>
                @if(item.Active == true)
                {
                    <td>Active</td>
                }
                @if(item.Active == false)
                {
                    <td>Inactive</td>
                }
            <td>
                <a class="btn btn-primary" href="@Url.Action("AuthorizeAccount", "Admin", new { accountId=item.OrganizationId })">
                    Authorize Account
                </a>
            </td>
        </tr>
    }

</table>


