
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center" style="color:darkgreen">We've Received Your Submission!</h1>
<br/>
<div class="jumbotron" style="background:palegoldenrod">
    <h2 style="color:darkolivegreen">BUT WAIT! There's more...</h2>

    <p class="lead" style="color:darkolivegreen">We need to confirm your organization's Nonprofit status before we can activate your account.</p>
    <hr class="my-4" />
    <p>Please send any documents pertinent to your current Nonprofit Status to one of the addresses below at your soonest convenience.</p>
    <br />
    <p>
        Care.Collective<br />
        123 Main St.<br />
        Milwaukee, WI 53227
    </p>
    <p>
        applications@carecollective.com
    </p>
    <br />
    <p><a class=" btn-primary btn-lg text-center" href="@Url.Action("Index", "Home")">Back Home</a></p>
</div>